
header{
    background-color: white ;
    text-align: center;
} 

.grid-area{
    display: grid;
    grid-template-areas:  
    'area-1 area-2'
    'area-3 area-4';
    gap: 10px
    ;

}

img{

    width: 100%;
    height: 100%;
}

.area1{

    grid-area: area-1;
}

.area2{

    grid-area: area-2;
}

.area3{

    grid-area: area-3;
}

.area4{

    grid-area: area-4;
}


@media screen and (max-width: 800px) {
    

    .grid-area{
        display: grid;
        grid-template-areas:  
        'area-1'
        'area-2'
        'area-3'
        'area-4';
        gap: 10px
        ;
    
    }


}